.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #FF524D;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF524D;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF524D;
}

.div-center{
    display: flex;
    justify-content: center;
}

.pagination-wrap{

}

.pagination-wrap .pagination-item-active {
    border: 1px solid #FF524D !important;
    color: #FF524D !important;
    border-radius: 3px;
}

.pagination-wrap .pagination-item {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    width: 36px;
    height: 24px;
    color: #404040;
    text-align: center;
    cursor: pointer;
}


.pagination-wrap .pagination-next{
    font-weight: 700;
    margin-left: 18px;
}

.pagination-wrap .pagination-previous{
    font-weight: 700;
    margin-right: 18px;
}


.pagination-arrow-next{
    margin-left: 10px;
}

.pagination-arrow-previous{
    margin-right: 10px;
}

.pagination-next-content{
 border: none !important;
 font-weight: 700;
}

.pagination-previous-content{
  border: none !important;
  font-weight: 700;
 }



/* pagination */


.pagination {

}
.pagination > .active > a{
  border-radius: 3px;
  border: 1px solid #FF524D ;
  color: #FF524D;
}
.pagination > li > a{
  padding: 2px 13px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 3px;
  width: 36px;
  height: 24px;
  color: #404040;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  outline: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  outline: none !important;
}
.pagination > li > a, .pagination > li > span{

}

.pagination-previous-next-disabled{
  display: none;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.custom-select {
    margin-bottom: 1rem;
    max-width: 20rem;
    
}

.text-style{
    bottom:4pxpx;
    font-family: sans-serif;
    color: #FF524D;
    font-size: 0.9em;
    position: relative;
}
  
button {
    padding: 0.8rem 1.2rem;
    border-style: none;
    border-radius: 9999px;
    background-color: #FF524D;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }
  
button:focus {
    box-shadow: 0 0 0 3px #FF524D;
  }
  
button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
  
button.outline {
    background-image: none;
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
  }
  
  button + button {
    margin-left: 0.5rem;
  }
  
hr {
    margin: 2rem 0;
}

.form-button-style{
  margin-top: 20px;
}